<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.blindingdark.geektrans">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.settings.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".tools.SoundPlayer"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.blindingdark.geektrans.tools.SoundPlayer" />
            </intent-filter>
        </service>

        <activity
            android:name=".activity.GetTransTextActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.PROCESS_TEXT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.GetShareReqActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.TransActivity"
            android:exported="true"
            android:theme="@android:style/Theme.NoDisplay" />
        <activity android:name=".activity.settings.YoudaoSettingsActivity" />
        <activity android:name=".activity.settings.BaiduSettingsActivity" />
        <activity android:name=".activity.settings.JinshanSettingsActivity" />
        <activity android:name=".activity.settings.BingSettingsActivity" />
        <activity android:name=".activity.settings.AddTransEngineActivity"></activity>
    </application>

</manifest>